.container {
  width: 400px;
  border: 2px solid lightblue;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.container > div {
  padding: 10px;
}

.itemContainer {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
}

.itemName {
  flex: 1 300px;
}

.itemProp {
  padding: 2px;
  flex-grow: 1;
  flex: 1 20px;
  text-align: right;
}

.item .circleStuff {
  flex-grow: 0;
}

.title {
  font-size: 24px;
}

.total {
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  margin: 5px;
  align-self: center;
  padding: 10px 30px;
  border: 2px solid lightblue;
  border-radius: 5px;
  cursor: pointer;
}
.button:disabled {
  cursor: unset;
}

.button:hover {
  background-color: #eeeeee;
}

.circleStuff {
  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 20px;
  font-weight: bold;

  color: white;
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 50%;

  cursor: pointer;
  user-select: none;
}

.remove {
  background-color: #8a1353;
  line-height: 14px;
}

.add {
  background-color: #45453d;
  line-height: 13px;
}

.orderMore {
  color: blue;
}

.beverage {
  color: green;
}

.freeBevName {
  color: black;
}
